<ion-view view-title="Test">
  <ion-content>
    <h1>MQTT</h1>
    <button class="button" ng-click="connect()">
      Connect
    </button>

    <!--<button class="button" ng-click="disconnect()">-->
      <!--Disonnect-->
    <!--</button>-->

    <!--<button class="button" ng-click="publish()">-->
      <!--Publish Hello in topic ebtest-->
    <!--</button>-->

    <!--<button class="button" ng-click="subscribe()">-->
      <!--Subscribe topic ebtest-->
    <!--</button>-->
  </ion-content>
</ion-view>
